@import "/src/styles/variables.module.scss";
@import "/src/app/ui/buttons/dialogButton.module.scss";

.profileButtonContainer {
  border: 1px solid $highlight-blue;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  padding: 0.8rem 1rem;
  margin-right: 1rem;
  
}

.profileButtonContainer:hover {
  background-color: $highlight-blue;
  color: $oec-blue;
}

.ProfileDialogContent {
  @extend .AlertDialogContent;
  @media (min-width: $desktop) {
    top: 50%;
    left: 50%;
    width: 18rem;
  }
}

.profileLabel {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}

.profileFormWrapper {
  @extend .formWrapper;
  display: flex;
  flex-direction: column;
}