@import "/src/styles/variables.module.scss";
.leftBar {
    @media (min-wdith: 768px) {
        min-width: 15rem;
    }
    display: flex;
    flex-direction: column;
    color: black;
    width: 16rem;
    font-family: 'Open Sans';
    
}

.leftLogo {
    position: relative;
    display: flex;
    height: 14rem;
    background-color: $oec-blue;
    border-radius: 0.375rem;
    color: white;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logoImage {
    width: 90%;
    height: auto;
}

.leftNavItem {
    background-color: #F9FAFB;
    color: $oec-blue;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
    padding: 1rem;

    &Fill {
        flex-grow: 1;
        width: 100%;
        height: auto;
        background-color: #F9FAFB;
        border-radius: 0.375rem;
        margin-bottom: 0.5rem;
    }
}

.leftNavLink {
    text-decoration: none;
}

#logout.leftNavItem {
    cursor: pointer;
}