@import "/src/styles/variables.module.scss";

.formBackButton {
  border-radius: 0.375rem;
  background-color: $slate2;
  color: $oec-blue;
  display: flex;
  font-size: 0.75rem;
  font-weight: 100;
  padding: 0.8rem;
  text-decoration: none;
}

.formBackContainer {
  display: flex;
  justify-content: left;
}

.formHeader {
  @media (min-width: 768px) {
    font-size: 2rem;
  }
  display: flex;
  font-size: 1.75rem;
  justify-content: center;
  text-align: center;
  margin: 2rem 0 1rem 0;
  color: $oec-blue;
}

.formHeaderContainer {
  display: flex;
  flex-direction: column;
}

.formInputContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  width: 100%;
}

.formInput, .formTextArea {
  @media (min-width: 768px){
    width: 21rem;
  }
  display: flex;
  font-family: unset;
  padding: 1rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px #dee2e6 solid;
  width: 17rem;
  box-sizing: border-box;
}

.formLabel {
  padding: 0 0.75rem;
  overflow: hidden;
  text-align: start;
  white-space: no-wrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 2rem;
}

.formSubmitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.formShell {
  display: flex;
  justify-content: center;
}

.formFieldsContainer {
  display: flex;
  justify-content: center;
}

.formFields {
  @media (min-width: 768px) {
    margin: 1rem 0;
  }
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.formModule {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  width: 100%;
}

.sublabel {
  color: grey;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  justify-content: center;
  margin: 0.5rem 0;
  width: 100%;
}

// Radix styling

.ButtonBlue {
  background-color: $blue4;
  border-radius: 0.375rem;
  color: $blue11;
  padding: 0.5rem;
}
.ButtonBlue:hover {
  background-color: $blue5;
  border-radius: 0.375rem;
  padding: 0.5rem;
}
.ButtonBlue:focus {
  box-shadow: 0 0 0 2px $blue7;
  border-radius: 0.375rem;
  padding: 0.5rem;
}

.FormField {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.8rem;
  width: 100%;
}

.FormRoot {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  }

.formInput:hover, .formTextArea:hover  {
    box-shadow: 0 0 0 1px $blue1;
}

.formInput:focus, .formTextArea:focus {
  box-shadow: 0 0 0 1px $blue1;
}

  .profileSubmitContainer {
    display: flex;
    justify-content: center;
  }

.loginModule {
  @extend .formModule;
  @media (min-width: 768px) {
    min-width: 23rem;
    padding: 0 2rem 2rem 2rem;
  }
  height: auto;
  padding: 0 0 4rem 0;
  position: relative;
}
