@import "/src/styles/variables.module.scss";

.TabsRoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    // overflow-x: hidden;
  }
  
  .TabsList {
    flex-shrink: 0;
    display: flex;
    border-bottom: 1px solid $blue4;
  }
  
  .TabsTrigger {
    font-family: inherit;
    background-color: white;
    padding: 0 1rem;
    height: 3rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1;
    color: $blue11;
    user-select: none;
  }
  .TabsTrigger:first-child {
    border-top-left-radius: 6px;
  }
  .TabsTrigger:last-child {
    border-top-right-radius: 6px;
  }
  .TabsTrigger:hover {
    color: $blue11;
  }
  .TabsTrigger[data-state='active'] {
    background-color: $blue2;
    color: $blue11;
    border-bottom: 2px solid $blue11;
  }
  
  .TabsContent {
    flex-grow: 1;
    padding: 1rem 0;
    background-color: white;
    border-radius: 0.375rem;
    width: 100%;
  }
  