@import "/src/styles/variables.module.scss";

.TabsRoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    // overflow-x: hidden;
  }
  
  .TabsList {
    flex-shrink: 0;
    display: flex;
    border-bottom: 1px solid $blue4;
  }
  
  .TabsTrigger {
    font-family: inherit;
    background-color: white;
    padding: 0 1rem;
    height: 3rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1;
    color: $blue11;
    user-select: none;
  }
  .TabsTrigger:first-child {
    border-top-left-radius: 6px;
  }
  .TabsTrigger:last-child {
    border-top-right-radius: 6px;
  }
  .TabsTrigger:hover {
    color: $blue12;
  }
  .TabsTrigger[data-state='active'] {
    color: $blue12;
    box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
  }
  
  .TabsContent {
    flex-grow: 1;
    padding: 1rem 0;
    background-color: white;
    border-radius: 0.375rem;
    width: 100%;
  }


  .Text {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .Fieldset {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0;
  }
  
  .Label {
    font-size: 0.8rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    display: block;
  }
  
  .Input {
    flex: 1 0 auto;
    border-radius: 0.375rem;
    padding: 0 1rem;
    line-height: 1;
    height: 2rem;
    border: 1px solid grey;
  }
 
  .ButtonBlue {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
    background-color: $blue4;
    color: $blue11;
  }
  .ButtonBlue:hover {
    background-color: $blue5;
  }
  .ButtonBlue:focus {
    box-shadow: 0 0 0 2px $blue7;
  }
  