@import "/src/styles/variables.module.scss";

.buttonContainer {
    display: flex;
    margin: 0.5rem 0
}

.footerContainer {
    @media (min-width: $desktop) {
        padding: 4rem 0;
    }
    align-items: center;
    background: $muted-blue;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    padding: 1rem 0;
    width: 100%;
}

.footerContent {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 1rem 0;
}

.footerText {
    color: white;
    margin: 0 1rem;
    font-size: 0.8rem;
}

.githubIcon {
    margin: 0 1rem;
    color: white;
}