@import "/src/styles/variables.module.scss";

.buttonContainer {
    display: flex;
    margin: 0.5rem 0
}

.footerContainer {
    background: $muted-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    width: 100%;
}

.footerText {
    color: white;
    margin: 0 0.5rem;
    font-size: 0.8rem;
}