$oec-blue: #0057b8;
$muted-blue: #467fbf;
$hover-blue: #f4f9ff;
$highlight-blue: #dfebfa;

$mauve1: hsl(300 20% 99%);
$mauve2: hsl(300 7.7% 97.5%);
$mauve3: hsl(294 5.5% 95.3%);
$mauve4: hsl(289 4.7% 93.3%);
$mauve5: hsl(283 4.4% 91.3%);
$mauve6: hsl(278 4.1% 89.1%);
$mauve7: hsl(271 3.9% 86.3%);
$mauve8: hsl(255 3.7% 78.8%);
$mauve9: hsl(252 4% 57.3%);
$mauve10: hsl(253 3.5% 53.5%);
$mauve11: hsl(252 4% 44.8%);
$mauve12: hsl(260 25% 11%);

$slate1: hsl(206 30% 98.8%);
$slate2: hsl(210 16.7% 97.6%);
$slate3: hsl(209 13.3% 95.3%);
$slate4: hsl(209 12.2% 93.2%);
$slate5: hsl(208 11.7% 91.1%);
$slate6: hsl(208 11.3% 88.9%);
$slate7: hsl(207 11.1% 85.9%);
$slate8: hsl(205 10.7% 78%);
$slate9: hsl(206 6% 56.1%);
$slate10: hsl(206 5.8% 52.3%);
$slate11: hsl(206 6% 43.5%);
$slate12: hsl(206 24% 9%);

$red1: hsl(359 100% 99.4%);
$red2: hsl(359 100% 98.6%);
$red3: hsl(360 100% 96.8%);
$red4: hsl(360 97.9% 94.8%);
$red5: hsl(360 90.2% 91.9%);
$red6: hsl(360 81.7% 87.8%);
$red7: hsl(359 74.2% 81.7%);
$red8: hsl(359 69.5% 74.3%);
$red9: hsl(358 75% 59%);
$red10: hsl(358 69.4% 55.2%);
$red11: hsl(358 65% 48.7%);
$red12: hsl(354 50% 14.6%);

// Blue ------------------------------------------------- /
$blue1: hsl(206 100% 99.2%);
$blue2: hsl(210 100% 98%);
$blue3: hsl(209 100% 96.5%);
$blue4: hsl(210 98.8% 94%);
$blue5: hsl(209 95% 90.1%);
$blue6: hsl(209 81.2% 84.5%);
$blue7: hsl(208 77.5% 76.9%);
$blue8: hsl(206 81.9% 65.3%);
$blue9: hsl(206 100% 50%);
$blue10: hsl(208 100% 47.3%);
$blue11: hsl(211 100% 43.2%);
$blue12: hsl(211 100% 15%);
