$oec-blue: #0057b8;
$muted-blue: #467fbf;
$hover-blue: #f4f9ff;
$highlight-blue: #dfebfa;

$mauve1: hsl(300 20% 99%);
$mauve2: hsl(300 7.7% 97.5%);
$mauve3: hsl(294 5.5% 95.3%);
$mauve4: hsl(289 4.7% 93.3%);
$mauve5: hsl(283 4.4% 91.3%);
$mauve6: hsl(278 4.1% 89.1%);
$mauve7: hsl(271 3.9% 86.3%);
$mauve8: hsl(255 3.7% 78.8%);
$mauve9: hsl(252 4% 57.3%);
$mauve10: hsl(253 3.5% 53.5%);
$mauve11: hsl(252 4% 44.8%);
$mauve12: hsl(260 25% 11%);

$red1: hsl(359 100% 99.4%);
    $red2: hsl(359 100% 98.6%);
    $red3: hsl(360 100% 96.8%);
    $red4: hsl(360 97.9% 94.8%);
    $red5: hsl(360 90.2% 91.9%);
    $red6: hsl(360 81.7% 87.8%);
    $red7: hsl(359 74.2% 81.7%);
    $red8: hsl(359 69.5% 74.3%);
    $red9: hsl(358 75% 59%);
    $red10: hsl(358 69.4% 55.2%);
    $red11: hsl(358 65% 48.7%);
    $red12: hsl(354 50% 14.6%);