@import "/src/styles/variables.module.scss";
@import "/src/app/ui/cards/card.module.scss";

.aboutCardContainer {
  @media (min-width: 885px) {
    width: 100%;
    margin: 1rem;
  }
  display: flex;
  justify-content: center;
}

.aboutCardHeader {
    @extend .cardHeader;
    color: $oec-blue;
  }

  .aboutCardTextQ {
    font-size: 1rem;
    font-weight: 600;
    color: black;
  }
  
  .aboutCardTextA {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      color: black;
  }