@import "/src/app/ui/cards/card.module.scss";
@import "/src/app/ui/cards/aboutCard.module.scss";

.cardStaff {
    @extend .card;
    @media (min-width: 768px) {
      height: 19rem;
      margin: 1rem;
      width: 27.5rem;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem;
    width: 22.5rem;
  }

  .staffCardContent {
    @extend .cardContent;
    height: 100%;
  }

  .staffCardImage {
    @media (min-width: 768px) {
      object-fit: cover;
      height: 100%;
    }
    display: flex;
    width: 100%;
    overflow-x: hidden;
    height: auto;
  }

  .staffCardImageContainer {
    @media (min-width: 768px) {
      width: 13.75rem;
      height: auto;
    }
    
  }

  .cardHeaderStaff {
    @extend .cardHeader;
    color: $oec-blue;
    justify-content: center;
    text-align: center;
  }

  .cardInfoContainerStaff {
    @extend .cardInfoContainer;
    @media (min-width: 768px) {
      width: 13.75rem;
    }
  }

  