@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

.banner {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 2rem 0;
    background-color: #467fbf;
    color: white;
    font-size: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 3rem 3rem;
    flex-grow: 1;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Open Sans';
}

.homeContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.leftBar {
    @media (min-wdith: 768px) {
        min-width: 15rem;
    }
    display: flex;
    flex-direction: column;
    color: black;
    width: 16rem;
    font-family: 'Open Sans';
    
}

.leftLogo {
    position: relative;
    display: flex;
    height: 14rem;
    background-color: #0057b8;
    border-radius: 0.375rem;
    color: white;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logoImage {
    width: 90%;
    height: auto;
}

.leftNavItem {
    background-color: #F9FAFB;
    color: #0057b8;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
    padding: 1rem;

    &Fill {
        flex-grow: 1;
        width: 100%;
        height: auto;
        background-color: #F9FAFB;
        border-radius: 0.375rem;
    }
}

.leftNavLink {
    text-decoration: none;
}
