@import "/src/styles/variables.module.scss";

.staffButton {
  align-items: center;
  background-color: $slate1;
  color: $oec-blue;
  border: 2px solid $slate5;
  border-radius: 0.375rem;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0.25rem;
  width: 2rem;
}

.staffButton:active {
  background-color: $oec-blue;
  color: white;
}

.staffButton:hover {
  background-color: $highlight-blue;
  border: 2px solid $highlight-blue;
  transition: 1s;
}

.adminButton {
  display: flex;
  align-self: center;
  background-color: $blue4;
  border-radius: 0.375rem;
  color: $blue11;
  padding: 0.5rem;
  cursor: pointer;
}
.adminButton:hover {
  background-color: $blue5;
  border-radius: 0.375rem;
  padding: 0.5rem;
}
.adminButton:focus {
  box-shadow: 0 0 0 2px $blue6;
  border-radius: 0.375rem;
  padding: 0.5rem;
}
