@import "/src/styles/variables.module.scss";
@import "/src/styles/mixins.module.scss";
@import "/src/styles/layout.module.scss";

.adminButton {
  display: flex;
  align-self: center;
  background-color: $blue4;
  border-radius: 0.375rem;
  color: $blue11;
  padding: 0.5rem;
  cursor: pointer;
}
.adminButton:hover {
  @include dialog-button;
  background-color: $blue5;
}

.staffButton {
  @extend .loadButton;
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0.25rem;
  width: 2rem;
}

