@import "/src/styles/variables.module.scss";
@import "/src/app/ui/buttons/buttons.module.scss";
@import "/src/styles/mixins.module.scss";

.AlertDialogOverlay {
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: rgba(0, 49, 106, 0.597);
  inset: 0;
  position: fixed;
  z-index: 999;
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  max-height: 85vh;
  padding: 1.5rem;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 999;
}

.AlertDialogTitle {
  margin: 0;
  color: $blue11;
  font-size: 1.5rem;
  font-weight: 500;
}

.AlertDialogDescription {
  margin-bottom: 1.5rem;
  color: $mauve11;
  font-size: 15px;
  line-height: 1.5;
}

.ButtonBlue,
.ButtonRed,
.ButtonMauve,
.ButtonBlue:hover,
.ButtonRed:hover,
.ButtonMauve:hover,
.ButtonBlue:focus,
.ButtonRed:focus,
.ButtonMauve:focus {
  @include dialog-button;
}

.ButtonBlue {
  background-color: $blue4;
  color: $blue11;
}

.ButtonRed {
  background-color: $red4;
  color: $red11;
}

.ButtonMauve {
  background-color: $mauve2;
  box-shadow: 0 0 0 2px $mauve4;
  color: $mauve11;
}

.ButtonBlue:hover {
  background-color: $blue5;
}

.ButtonRed:hover {
  background-color: $red5;
}

.ButtonMauve:hover {
  background-color: $mauve5;
}

.ButtonBlue:focus {
  box-shadow: 0 0 0 2px $blue7;
}

.ButtonRed:focus {
  box-shadow: 0 0 0 2px $red7;
}

.formCancel {
  padding-bottom: 1rem;
}

.formWrapper {
  padding-bottom: 1rem;
  box-sizing: border-box;
  overflow: auto;
  max-height: calc(85vh - 3rem);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
