.banner {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 2rem 0;
    background-color: #467fbf;
    color: white;
    font-size: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 3rem 3rem;
    flex-grow: 1;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Open Sans';
}

.corkContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #467fbf;
    width: 100%;
    height: auto;

}

.dashHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dashHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dashBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.dashPanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // width: 100vh;
    padding: 3rem;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.subtitle {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
}
.subtitle2 {
    font-size: 1rem;
    margin: 1rem;
}

.boldTitle {
    font-size: 7rem;
    font-weight: 800;
    color: #0057b8;
    line-height: 1;
}


