@import "/src/styles/variables.module.scss";
@import "/src/styles/layout.module.scss";

.emptyTripWarning {
  margin-top: 1rem;
  margin-bottom: 38rem;
  color: white;
  display: flex;
  align-items: flex-start;
}