@import "/src/styles/variables.module.scss";
@import "src/styles/layout.module.scss";

.aboutModule {
  display: grid;
}

.aboutP {
  padding: 1rem 0;
}

.aboutSubheader {
  color: $muted-blue;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
  justify-content: center;
}

.staffDeck {
  @media (min-width: 975px) {
    width: 60rem;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}